@model WebUI.Areas.Admin.Models.NotificationAdminTypeModel

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Add New Role</title>
    <style>
        .custom-form {
        	border: 1px solid #ccc;
        	padding: 20px;
        	border-radius: 10px;
        	margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="main-panel">
<div class="content">
<div class="container-fluid">
    <h4 class="page-title">Bestilling</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Legg til ny varsling</div>
                </div>
            <form action="/Admin/AdminNotification/Create" method="post">
                
                <div class="form-group">
                    <label asp-for="Title">Velg et farge</label>
                    <select asp-for="Title" class="form-control">
                        <option value="">Select a type</option>
                        @foreach (var type in Model.NotificationTypes)
                        {
                            <option value="@type.Value">@type.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Icon">Velg et symbol</label>
                    <select asp-for="Icon" class="form-control">
                        <option value="">Velg et symbol</option>
                        @foreach (var type in Model.NotificationSymbol)
                        {
                            <option value="@type.Value">@type.Text</option>
                        }
                    </select>
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="title">Detaljer:</label>
                    <input type="text" id="title" asp-for="Content" class="form-control">
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Lagre</button>
                </div>
            </form>
        </div>
    </div>
    </div>
     </div>
    </div>
</div>
</body>
</html>