@model DtoLayer.MessageDtos.ResultMessageDto

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="main-panel">
<div class="content">
<div class="container-fluid">
    <h4 class="page-title">Meldinger</h4>
    <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Rediger Meldingen</div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="/Admin/AdminMessage/Update">
                    @Html.AntiForgeryToken()
                    <input asp-for="Id" class="form-control" type="hidden">
                    <div class="form-group">
                        <label>Navn:</label>
                        <input asp-for="Name" type="text" class="form-control" >
                    </div>
                    
                    <div class="form-group">
                        <label>E-Post :</label>
                        <input asp-for="Email" type="email" class="form-control" >
                    </div>
                    
                    <div class="form-group">
                        <label>Emne :</label>
                        <input asp-for="Subject" type="text" class="form-control" >
                    </div>
                    
                    <div class="form-group">
                        <label>Meldigen :</label>
                        <textarea asp-for="MessageText" class="form-control" rows="5"></textarea>
                    </div>
                                           
                    @{
                        string isRead = Model.IsRead ? "read" : "";
                    }
                    <div class="form-group">
                        <label for="status">Er Lest</label>
                        <select id="status" asp-for="IsRead" class="form-control">
                            <<option value="true" selected="@isRead">True</option>
                            <option value="false" selected="@(isRead== "" ? "read" : "")">False</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lagre</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>