<section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Bestill et Bord
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" class="form-control" placeholder="Ditt Navn" />
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Telefonnummer" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Din E-post" />
              </div>
              <div>
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    Hvor mange personer?
                  </option>
                  <option value="">
                    2
                  </option>
                  <option value="">
                    3
                  </option>
                  <option value="">
                    4
                  </option>
                  <option value="">
                    5
                  </option>
                </select>
              </div>
              <div>
                <input type="date" class="form-control">
              </div>
              <div class="btn_box">
                <button>
                  Bestill Nå
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <h5>Kart</h5>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32069.884163608635!2d8.772242264662576!3d58.45837286104283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x463dbce36c2d3a01%3A0x9519dd6b7c5b9606!2sArendal%2C%20Norway!5e0!3m2!1sen!2sno!4v1629411208493!5m2!1sen!2sno"
                          width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy">
                  </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>


