<div class="bg-box">
      <img src="/feane-1.0.0/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/feane-1.0.0/index.html">
            <span>
              BurgerClash
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">
                  <a class="nav-link" href="/Default/Index">Hjem</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Menu/Index">Meny</a>
              </li>
              
              <li class="nav-item  @@listing__active" id="admin">
                <a class="nav-link" href="/Admin/AdminStatistic/Index">Admin</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/About/Index">OmOss</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/BookingTable/Index">BestillBord <span class="sr-only">(nåværende)</span></a>
              </li>
              <li class="nav-item" id="logoutLink">
                <a class="nav-link" href="/Logout/Index">LoggUt</a>
              </li>
              <li class="nav-item" id="loginLink">
                <a class="nav-link" href="/Login/Index">LoggInn</a>
              </li>
            </ul>
            <div class="user_option">
              <a href="" class="user_link">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <a class="cart_link" href="/ShoppingCart/Index2">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                    </g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg>
              </a>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
              <a href="/CustomerMessage/Index" class="order_online">
               <i class="fa fa-comments">Chat</i>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
<script>

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
  
  // jwtToken değerini al
  var jwtToken = getCookie("JwtToken");
  console.log("jwtToken:", jwtToken); // jwtToken'ı konsola yazdır
  
  // Oturum açık mı kontrol et
  function isUserAuthenticated() {
      var isAuthenticated = jwtToken !== null && jwtToken !== '';
      console.log("isAuthenticated:", isAuthenticated); // isUserAuthenticated değerini konsola yazdır
      return isAuthenticated;
  }
  
  // Navbar bağlantılarını güncelle
  function updateNavbarLinks() {
      if (isUserAuthenticated()) {
          // Kullanıcı giriş yapmışsa, navbar'da logout düğmesini göster
          document.getElementById("logoutLink").style.display = "block"; // Logout linki görünür
          document.getElementById("loginLink").style.display = "none"; // Login linki gizli
      } else {
          // Kullanıcı giriş yapmamışsa, giriş düğmesini göster
          document.getElementById("logoutLink").style.display = "none"; // Logout linki gizli
          document.getElementById("loginLink").style.display = "block"; // Login linki görünür
      }
  }
  
  // Sayfa yüklendiğinde navbar bağlantılarını güncelle
  window.onload = function () {
      updateNavbarLinks();
      console.log("Navbar bağlantıları güncellendi.");
  };
  
  // Sayfa yüklendiğinde çalışacak olan kod
  window.onload = function() {
      // Oturum durumunu kontrol etmek için checkAuthentication fonksiyonunu çağır
      checkAuthentication();
        checkAdmin();
  };
  
  function checkAuthentication() {
      fetch('/Login/IsAuthenticated')
          .then(response => response.json())
          .then(data => {
              const logoutLink = document.getElementById('logoutLink');
              const loginLink = document.getElementById('loginLink');
               console.log("data:", data);
              
              if (data === true) {
                  // Kullanıcı oturumu açıksa "Logg Ut" bağlantısını göster, "Logg Inn" bağlantısını gizle
                  logoutLink.style.display = 'block';
                  loginLink.style.display = 'none';
                   console.log("data:", data);
              } else {
                  // Kullanıcı oturumu kapalıysa "Logg Ut" bağlantısını gizle, "Logg Inn" bağlantısını göster
                  logoutLink.style.display = 'none';
                  loginLink.style.display = 'block';
                   console.log(data);
              }
          });
  }
  
  
  function checkAdmin() {
        fetch('/Login/IsAdmin')
            .then(response => response.json())
            .then(data => {
                const admin = document.getElementById('admin');
                 console.log("data:", data);
                
                if (data === true) {
                    // Kullanıcı oturumu açıksa "Logg Ut" bağlantısını göster, "Logg Inn" bağlantısını gizle
                    admin.style.display = 'block';
                     console.log("data:", data);
                } else {
                    // Kullanıcı oturumu kapalıysa "Logg Ut" bağlantısını gizle, "Logg Inn" bağlantısını göster
                    admin.style.display = 'none';                  
                     console.log(data);
                }
            });
    }
    </script>