@model DtoLayer.BookingDtos.GetReservationDto

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="main-panel">
<div class="content">
<div class="container-fluid">
    <h4 class="page-title">Bestilling</h4>
    <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Rediger Bestilling</div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="/Admin/AdminReservation/Update">
                    @Html.AntiForgeryToken()
                    <input asp-for="BookingId" class="form-control" type="hidden">
                    <div class="form-group">
                        <label>Navn:</label>
                        <input asp-for="FullName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>E-Post :</label>
                        <input asp-for="Email" type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Telefon :</label>
                        <input asp-for="Phone" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Anntall Person :</label>
                        <input asp-for="PersonCount" type="number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Bestilling Dato :</label>
                        <input asp-for="CreatedAt"  type="datetime-local" class="form-control" >
                    </div>
                    @{
                                        string isSelected = Model.IsConfirmed ? "selected" : "";
                    }
                    <div class="form-group">
                        <label for="status">Er Bekreftet</label>
                        <select id="status" asp-for="IsConfirmed" class="form-control">
                            <<option value="true" selected="@isSelected">True</option>
                            <option value="false" selected="@(isSelected == "" ? "selected" : "")">False</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lagre</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>