@model List<DtoLayer.CategoryDtos.ResultCategoryDto>


<ul class="filters_menu">
    <li class="active" data-filter="*">All</li>
    @foreach (var item in Model)
    {
        <li data-filter=".@item.CategoryName">@item.CategoryName</li>
    }
</ul>

