@model List<DtoLayer.DiningTableDtos.ResultDiningTableDto>

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="main-panel">
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Bord</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Bord Liste</div>
                    </div>
                    <div class="card-body">

                        <table id="datatable-buttons" class="table table-bordered table-bordered-bd-info mt-4">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Navn</th>
                                <th>Kapasitet</th>
                                <th>Status</th>
                                <th>Rediger</th>
                                <th>Slett</th>
                                <th>Detaljer</th>
                            </tr>
                            </thead>

                            <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.DiningTableId</td>
                                    <td>@item.TableName</td>
                                    <td>@item.Capacity</td>
                                    <td>@item.Status</td>
                                    <td><a href="/Admin/AdminDiningTable/Update/@item.DiningTableId" class="btn btn-outline-warning"> <i class="mdi mdi-account-edit"></i> Rediger</a></td>
                                    <td><a href="/Admin/AdminDiningTable/Delete/@item.DiningTableId" class="btn btn-outline-danger" ><i class="mdi mdi-delete"></i> Slett</a> </td>
                                    <td><a href="#" class="btn btn-outline-primary"><i class="mdi mdi-eye"></i> Detaljer</a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <a href="/Admin/AdminDiningTable/Create" class="btn btn-primary"> <i class="mdi mdi-plus"></i> Legg et nytt Bord</a>
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
    </div>
</div>
</div>