@model dynamic

@{
    ViewBag.Title = "title";
    Layout = null;
}
<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">

@await Html.PartialAsync("~/Views/PartialView/_NavBarPartialView.cshtml")

  <!-- book section -->
@await Component.InvokeAsync("_DefaultAboutSectionComponentPartial")
  <!-- end book section -->

  <!-- footer section -->
@await Component.InvokeAsync("_UILayoutFooterComponentPartial")
  <!-- footer section -->

  <!-- jQery -->
@await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>
