@using WebUI.Models
@using System.Configuration
@model dynamic

@{
    ViewBag.Title = "title";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="main-panel">
<div class="content">
<div class="container-fluid">

<script type="text/javascript">
  $(document).ready(function () {
 var connection = new signalR.HubConnectionBuilder()
 .withUrl('@ViewBag.HubUrl')
 .build();
  $("#constatus").text(connection.state);
                            
    connection.start().then(function () {
    $("#constatus").text(connection.state);
    setInterval(function(){
    connection.invoke("GetTotalCategoryCount");
    connection.invoke("GetTotalProductCount");
	connection.invoke("GetTotalActiveBookingCount");
    connection.invoke("GetTotalPassiveBookingCount");
    connection.invoke("GetAveragePrice");
    connection.invoke("GetCheapestProduct");
    connection.invoke("GetExpensiveProduct");
    connection.invoke("GetTotalOrderCount");
    connection.invoke("GetTodayTotalCompletedOrderCount");
    connection.invoke("GetTotalCashRevenue");
    connection.invoke("GetTotalActiveTableCount");
    connection.invoke("GetTotalPassiveTableCount");								 
    },1000);
    console.log("connected");
    }).catch(function (err) {
    return console.error(err.toString());
    });
                             
                             connection.on("ReceiveTotalCategoryCount",(result)=>{
                                $("#categorycount").text(result); 
                             }); 
							 
							 connection.on("ReceiveTotalProductCount",(result)=>{
								$("#productcount").text(result); 
							 });
							 
							 connection.on("ReceiveTotalActiveBookingCount",(result)=>{
                             $("#activeBookingCount").text(result); 
                             });
							 connection.on("ReceiveTotalPassiveBookingCount",(result)=>{
                             $("#passiveBookingCount").text(result); 
                             });
							 
							 connection.on("ReceiveAveragePrice",(result)=>{
                             $("#averagePrice").text("NOK " + result); 
                             });
							 connection.on("ReceiveCheapestProduct",(result)=>{
                             $("#cheapestProduct").text(result); 
                             });
							 
							 connection.on("ReceiveExpensiveProduct",(result)=>{
                            $("#expensiveProduct").text(result); 
                            });
							 
							 connection.on("ReceiveTotalOrderCount",(result)=>{
							 $("#totalOrderCount").text(result); 
							 });
							 
							 connection.on("ReceiveTodayTotalCompletedOrderCount",(result)=>{
							$("#todayTotalCompletedOrderCount").text(result);
							});
							 connection.on("ReceiveTotalCashRevenue",(result)=>{
                             $("#TotalCashRevenue").text("NOK " + result);
                             });
							 connection.on("ReceiveTotalActiveTableCount",(result)=>{
                             $("#totalActiveTableCount").text(result);
                             });
                             							 
                            connection.on("ReceiveTotalPassiveTableCount",(result)=>{
                            $("#totalPassiveTableCount").text(result);
                            }); 
							 connection.onclose(function () {
								 $("#constatus").text(connection.state);
								 console.log("disconnected");
							 });
                         });
                         </script>
<h4 class="page-title">Øyeblikkelig Statistikk</h4>
<div class="row">
	<div class="col-md-3">
		<div class="card card-stats card-warning">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-certificate"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Antall Kategori</p>
							<h4 class="card-title" id="categorycount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-success">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-puzzle-piece"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Antall Produkt</p>
							<h4 class="card-title" id="productcount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-danger">
			<div class="card-body">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-shopping-cart "></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Aktive Bestilling</p>
							<h4 class="card-title" id="activeBookingCount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-primary">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-pie-chart"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Pasive Bestilling</p>
							<h4 class="card-title" id="passiveBookingCount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="card card-stats card-warning">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-bar-chart"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Gejennomsnittlig Prise</p>
							<h4 class="card-title" id="averagePrice"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-success">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-area-chart"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Billigste Product</p>
							<h4 class="card-title" id="cheapestProduct"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-danger">
			<div class="card-body">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-newspaper-o"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Dyreste Produkt</p>
							<h4 class="card-title" id="expensiveProduct"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-primary">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-check-circle"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Antall Ordre</p>
							<h4 class="card-title" id="totalOrderCount" ></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="card card-stats card-warning">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-dollar"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Total Ordre</p>
							<h4 class="card-title" id="todayTotalCompletedOrderCount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-success">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-money"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Total Inntekt</p>
							<h4 class="card-title" id="TotalCashRevenue"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-danger">
			<div class="card-body">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-tablet"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Totalt Utilgjengelige Bord</p>
							<h4 class="card-title" id="totalActiveTableCount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-primary">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-table"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Totalt Tilgjengelige Bord</p>
							<h4 class="card-title" id="totalPassiveTableCount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>

