@model List<DtoLayer.FeatureDtos.ResultFeatureDto>

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="main-panel">
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Funksjon</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Funksjon Liste</div>
                    </div>
                    <div class="card-body">
                        <table id="datatable-buttons" class="table table-bordered table-bordered-bd-info mt-4">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Bilde</th>
                                <th>Tittel</th>
                                <th>Beskrivelse</th>
                                <th>Rediger</th>
                                <th>Slett</th>
                                <th>Detaljer</th>
                            </tr>
                            </thead>

                            <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.FeatureId</td>
                                    <td><img/></td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td><a href="/Admin/AdminFeature/Update/@item.FeatureId" class="btn btn-outline-warning"> <i class="mdi mdi-account-edit"></i> Rediger</a></td>
                                    <td><a href="/Admin/AdminFeature/Delete/@item.FeatureId" class="btn btn-outline-danger" onclick="deleteItemWarning()"><i class="mdi mdi-delete"></i> Slett</a> </td>
                                    <td><a href="#" class="btn btn-outline-primary"><i class="mdi mdi-eye"></i> Detaljer</a></td>
                                </tr>
                        
                                <script>

        function deleteItemWarning() {
        var confirmDelete = confirm("Advarsel! Denne handlingen vil slette elementet permanent. Er du sikker på at du vil fortsette?");
        if (confirmDelete) {
            // Brukeren bekreftet sletting, slettingsprosessen kan fortsette.
            window.location.href = "/Admin/AdminFeature/Delete/@item.FeatureId";
        }
    }
            </script>
                            }
                            </tbody>
                        </table>
                        <a href="/Admin/AdminFeature/Create" class="btn btn-primary"> <i class="mdi mdi-plus"></i> Legg en ny Funksjon</a>
                        <button class="btn btn-primary" onclick="goBack()"><i class="bx bx-arrow-back"></i> Tilbake</button>
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
    </div>
    </div>
</div>