@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="/Default/Index" class="">
                                <h3 style="color: #ffc107" class="text-primary"><i class="fa fa-home" style="color: #ffc107"></i>BurgerClash</h3>
                            </a>
                            <h3>Logout</h3>
                        </div>
                        <form asp-controller="Logout" asp-action="Logout" asp-area="" method="post">
                            <button type="submit" class="btn btn-warning py-3 w-100 mb-4">Logout</button>
                        </form>
                    </div>
                </div>
            </div>

