<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Hizrian
                        <span class="user-level">Administrator</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">Min profil</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Rediger profil</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Innstillinger</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/index.html">
                    <i class="la la-dashboard"></i>
                    <p>Instrumentbord</p>
                    <span class="badge badge-count">5</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/components.html">
                    <i class="la la-table"></i>
                    <p>Komponenter</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/AdminProduct/Index">
                    <i class="la la-paste"></i>
                    <p>Produkt</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/AdminCategory/Index">
                    <i class="la la-folder-open-o"></i>
                    <p>Kategori</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/AdminContact/Index">
                    <i class="la la-table"></i>
                    <p>Contact</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/AdminTestimonial/Index">
                    <i class="la la-user-md"></i>
                    <p>Referanser</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/AdminReservation/Index">
                    <i class="la la-table"></i>
                    <p>Bestilling</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/AdminSocialMedia/Index">
                    <i class="la la-internet-explorer"></i>
                    <p>sosiale Medier</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/AdminFeature/Index">
                    <i class="la la-cc-discover"></i>
                    <p>Funksjoner</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/tables.html">
                    <i class="la la-th"></i>
                    <p>Tabeller</p>
                    <span class="badge badge-count">6</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/notifications.html">
                    <i class="la la-bell"></i>
                    <p>Varsler</p>
                    <span class="badge badge-success">3</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/typography.html">
                    <i class="la la-font"></i>
                    <p>Typografi</p>
                    <span class="badge badge-danger">25</span>
                </a>
            </li>
            <li class="nav-item active">
                <a href="~/Ready-Bootstrap-Dashboard-master/icons.html">
                    <i class="la la-fonticons"></i>
                    <p>Ikon</p>
                </a>
            </li>
        </ul>
    </div>
</div>
